ClienteServicio/Connected Services/AreasService/Service142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://circleservice.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" />
  <xs:import schemaLocation="https://circleservice.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" />
  <xs:element name="ListRings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="ListRingsResult" nillable="true" type="q1:ArrayOfRingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="Ring" nillable="true" type="q2:RingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" minOccurs="0" name="CreateRingResult" nillable="true" type="q3:Ring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="GetRingByIdResult" nillable="true" type="q4:RingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>