ClienteServicio/Connected Services/AreasService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.56.104:70/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" />
  <xs:import schemaLocation="http://192.168.56.104:70/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" />
  <xs:element name="ListTriangles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTrianglesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="ListTrianglesResult" nillable="true" type="q1:ArrayOfTriangleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSquares">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListSquaresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="ListSquaresResult" nillable="true" type="q2:ArrayOfSquareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="ListRingsResult" nillable="true" type="q3:ArrayOfRingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRectangles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRectanglesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="ListRectanglesResult" nillable="true" type="q4:ArrayOfRectangleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTriangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="Triangle" nillable="true" type="q5:TriangleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTriangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" minOccurs="0" name="CreateTriangleResult" nillable="true" type="q6:Triangle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSquare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="Square" nillable="true" type="q7:SquareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSquareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" minOccurs="0" name="CreateSquareResult" nillable="true" type="q8:Square" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="Ring" nillable="true" type="q9:RingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" minOccurs="0" name="CreateRingResult" nillable="true" type="q10:Ring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRectangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="Rectangle" nillable="true" type="q11:RectangleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRectangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" minOccurs="0" name="CreateRectangleResult" nillable="true" type="q12:Rectangle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTriangleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTriangleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="GetTriangleByIdResult" nillable="true" type="q13:TriangleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSquareById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSquareByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="GetSquareByIdResult" nillable="true" type="q14:SquareDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="GetRingByIdResult" nillable="true" type="q15:RingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRectangleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRectangleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" minOccurs="0" name="GetRectangleByIdResult" nillable="true" type="q16:RectangleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>