ClienteServicio/Connected Services/AreasService/Service143.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ring">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Radius" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ring" nillable="true" type="tns:Ring" />
</xs:schema>