ClienteServicio/Connected Services/AreasService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Triangle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SideA" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SideB" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SideC" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Triangle" nillable="true" type="tns:Triangle" />
  <xs:complexType name="Square">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Side" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Square" nillable="true" type="tns:Square" />
  <xs:complexType name="Ring">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Radius" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ring" nillable="true" type="tns:Ring" />
  <xs:complexType name="Rectangle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rectangle" nillable="true" type="tns:Rectangle" />
</xs:schema>