ClienteServicio/Connected Services/AreasService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceApp.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTriangleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TriangleDTO" nillable="true" type="tns:TriangleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTriangleDTO" nillable="true" type="tns:ArrayOfTriangleDTO" />
  <xs:complexType name="TriangleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SideA" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SideB" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SideC" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TriangleDTO" nillable="true" type="tns:TriangleDTO" />
  <xs:complexType name="ArrayOfSquareDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SquareDTO" nillable="true" type="tns:SquareDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSquareDTO" nillable="true" type="tns:ArrayOfSquareDTO" />
  <xs:complexType name="SquareDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Side" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SquareDTO" nillable="true" type="tns:SquareDTO" />
  <xs:complexType name="ArrayOfRingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RingDTO" nillable="true" type="tns:RingDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRingDTO" nillable="true" type="tns:ArrayOfRingDTO" />
  <xs:complexType name="RingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Radius" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RingDTO" nillable="true" type="tns:RingDTO" />
  <xs:complexType name="ArrayOfRectangleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RectangleDTO" nillable="true" type="tns:RectangleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRectangleDTO" nillable="true" type="tns:ArrayOfRectangleDTO" />
  <xs:complexType name="RectangleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Perimeter" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RectangleDTO" nillable="true" type="tns:RectangleDTO" />
</xs:schema>